/deps/
results/
.venv
.venv-cascade
vmdscene*
*.log
__pycache__/
run/
run_*/
run*/
kimmdy_0*/
!run.sh
*.trr
*.xtc
*.lock
*.tail
*.npz
*.cpt
*.edr
*.xvg
*slurm.*
\#*\#
.ipynb_checkpoints
todel
tmp/
/.quarto/
archive/
*.qmd.otter.*
*.quarto_ipynb
*.tga
*.ppm

examples/collagen-hydrolysis/assets/collagen.ndx
examples/collagen-hydrolysis/assets/collagen.top
examples/collagen-hydrolysis/assets/npt.gro
examples/collagen-hydrolysis/assets/nvt.gro
